language: php

php:
  - 5.3
  - 5.4
  - 5.5
  - 5.6
  - 7.0
  - hhvm

before_script:
  - mkdir -p ~/.composer
  - echo '{"config":{"github-oauth":{"github.com":"6f880c1b17f63793e72497f9658853a33ba81136"}}}' > ~/.composer/config.json
  - composer self-update
  - composer update --prefer-source --no-interaction

script:
  - vendor/bin/phpunit

sudo: false