<div class="navbar navbar-fixed-top">
  <a href="https://github.com/leedavis81/drest"><img style="position: absolute; top: 0px; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png" alt="Fork me on GitHub"></a>
  <div class="navbar-inner">
    <div class="container">
      <ul class="nav pull-left">
        <li><a href="/">DREST - Turning Doctrine ORM entities into RESTful resources</a></li>
      </ul>
      <ul class="nav pull-right" id="github-buttons">
        <li><iframe src="http://ghbtns.com/github-btn.html?user=leedavis81&type=follow" allowtransparency="true" frameborder="0" scrolling="0" width="155" height="20"></iframe></li>      
        <li><iframe src="http://ghbtns.com/github-btn.html?user=leedavis81&repo=drest&type=fork&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="95" height="20"></iframe></li>      
        <li><iframe src="http://ghbtns.com/github-btn.html?user=leedavis81&repo=drest&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe></li>      
      </ul>
    </div>
  </div>
</div>