<ul id="menu" class="nav nav-list" data-spy="affix">
  <li class="nav-header"><a href="{{ site.url }}/docs/introduction/">INTRODUCTION</a></li>
  <li><a href="{{ site.url }}/docs/introduction/#what-it-does">What it does</a></li>
  <li><a href="{{ site.url }}/docs/introduction/#why-you-want-to-use-it">Why you want to use it</a></li>
  <li class="nav-header"><a href="{{ site.url }}/docs/installation/">INSTALLATION</a></li>
  <li><a href="{{ site.url }}/docs/installation/#configuration">Configuration</a></li>  
  <li><a href="{{ site.url }}/docs/installation/#usage">Usage</a></li> 
  <li><a href="{{ site.url }}/docs/installation/#dependencies">Dependencies</a></li>     
  <li class="nav-header">GETTING STARTED</li>  
  <li><a href="{{ site.url }}/docs/getting-started/#setting-up-drest-manager">Setting up your drest manager</a></li>
  <li><a href="{{ site.url }}/docs/getting-started/#exposing-entities">Exposing entities</a></li>
</ul>