<ul id="menu" class="nav nav-list">
	<li class="nav-header"><a href="{{ site.url }}/docs/installation/">INSTALLATION</a></li>
		<li><a href="{{ site.url }}/docs/installation/#configuration">Configuration</a></li>  
		<li><a href="{{ site.url }}/docs/installation/#usage">Usage</a></li> 
		<li><a href="{{ site.url }}/docs/installation/#dependencies">Dependencies</a></li>     
	<li class="nav-header"><a href="{{ site.url }}/docs/getting_started/">GETTING STARTED</a></li>  
		<li><a href="{{ site.url }}/docs/getting-started/#autoloading_your_entities">Autoloading your entities</a></li>
		<li><a href="{{ site.url }}/docs/getting-started/#setting_up_your_orm_entity_manager">Setting up entity manager</a></li>
		<li><a href="{{ site.url }}/docs/getting-started/#configuring_the_drest_manager">Configuring drest manager</a></li>
		<li><a href="{{ site.url }}/docs/getting-started/#create_routes">Create routes</a></li>
		<li><a href="{{ site.url }}/docs/getting-started/#push_handles">Push Handles</a></li>
    <li class="nav-header"><a href="{{ site.url }}/docs/routing/">ROUTING</a></li>
	    <li><a href="{{ site.url }}/docs/routing/#parameters">Parameters</a></li>
	    <li><a href="{{ site.url }}/docs/routing/#additional_conditionals">Additional Conditionals</a></li>
    <li class="nav-header"><a href="{{ site.url }}/docs/exposing-data/">EXPOSING DATA</a></li>
        <li><a href="{{ site.url }}/docs/exposing-data/#usage">Usage</a></li>
        <li><a href="{{ site.url }}/docs/exposing-data/#tailored_for_the_client">Tailored For The Client</a></li>
    <li class="nav-header"><a href="{{ site.url }}/docs/representations/">REPRESENTATIONS</a></li>
        <li><a href="{{ site.url }}/docs/representations/#enabling_a_representation">Enabling</a></li>
        <li><a href="{{ site.url }}/docs/representations/#content_type_detection">Detection</a></li>
        <li><a href="{{ site.url }}/docs/representations/#usage">Usage</a></li>  
    <li class="nav-header"><a href="{{ site.url }}/docs/service-actions/">SERVICE ACTIONS</a></li>
        <li><a href="{{ site.url }}/docs/service-actions/#default_behaviours">Default Behaviours</a></li>
        <li><a href="{{ site.url }}/docs/service-actions/#creating_your_own">Creating your own</a></li>  
    <li class="nav-header"><a href="{{ site.url }}/docs/error-handling/">ERROR HANDLING</a></li>
        <li><a href="{{ site.url }}/docs/error-handling/#handler_class">Handler class</a></li>        
    <li class="nav-header"><a href="{{ site.url }}/docs/client-tool/">CLIENT TOOL</a></li>
        <li><a href="{{ site.url }}/docs/client-tool/#code_generator">Code Generator</a></li>    
        <li><a href="{{ site.url }}/docs/client-tool/#sending_requests">Sending Requests</a></li>
    <li class="nav-header"><a href="{{ site.url }}/docs/advanced-configuration/">ADVANCED CONFIG</a></li>
    <li class="nav-header"><a href="{{ site.url }}/docs/events/">EVENTS</a></li>  
    <li><a href="https://travis-ci.org/leedavis81/drest"><img src="https://travis-ci.org/leedavis81/drest.png?branch=master" /></a></li>
    <li><a href="https://coveralls.io/r/leedavis81/drest?branch=master"><img src="https://coveralls.io/repos/leedavis81/drest/badge.png?branch=master"></a></li>
    <li><a href="https://www.versioneye.com/user/projects/5194ec66296d610002000343"><img src="https://www.versioneye.com/user/projects/5194ec66296d610002000343/badge.png"></a></li>
</ul>